Hello <%= @user.full_name %>,

Your twitter handle is: <%= @user.twitter_handle %>

Your location is: <%= @user.location %>

<form action="">
  How much per tweet?
  <input type="text">
  <br>
  Set your monthly donation goal
  <input type="text">
  <br>
  <input type="submit" value="Submit">
</form>
