Hello <%= @user.full_name %>,

Your twitter handle is: <%= @user.twitter_handle %>

Your location is: <%= @user.location %>
<br>
<br>
<div id="pledge"></div>
<br>
<br>
<div id="tweeter"></div>

<!-- Pledge form template -->
<script type="text/template" id="pledge-form-template">
  <form id="pledge">
    <fieldset>
        <legend>Fill out your pledge:</legend>
          How much per tweet?<br>
          <input id="tweet" type="text" value="{{ dollars_per_tweet }}"><br>
          Set your monthly donation goal<br>
          <input id="goal" type="text" value="{{ max_per_month }}"><br>
          <input type="submit" value="Submit"><br><br>
    </fieldset>
  </form>
</script>
<!-- End of Pledge form template -->

<!-- Pledge template -->
<script type="text/template" id="pledge-template">
  <p>You have pledged: {{ dollars_per_tweet }}</p>
  <p>Your monthly maximum is: {{ max_per_month }}</p>
</script>
<!-- End of Pledge template -->

<!-- Trump Template -->
<script type="text/template" id="tweeter-template">
  <h3>Trump's latest tweet was at: {{ created_at }}</h3>
</script>
<!-- End of Trump Template -->
