<div class="row">
  <div class="col-md-7 headline-container">
    <h1 class="display-1 headline">#DonatableTweets</h1>
  </div>
  <div class="col-md-5">
    <h2 class="cta">MAKE HIS TWEETS COUNT FOR GOOD.</h2>
    <a class="btn btn-default cta-btn" href="/login" role="button">Let's get to it!</a>
    <p id="notice"><%= notice %></p>
  </div>
</div>
