<div class="row">
  <div class="headline-container">
    <h1 class="display-1 headline">DonatableTweets <small>Make his tweets count</small></h1>
  </div>
  <div class="col-md-8 img-container">
    <img class="img-responsive dt-head" src="/images/face.png"/>
  </div>
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>
    <a class="btn btn-default" href="/login" role="button">Signup or Login</a>
  </div>
</div>
