<div class="row">
  <div class="col-md-8 img-container">
    <img class="img-responsive dt-head" src="/images/face.png"/>
  </div>
  <div class="col-md-4">
    <p id="notice"><%= notice %></p>
    <a class="btn btn-default" href="/login" role="button">Signup or Login</a>
  </div>
</div>
