/* Fonts */
@font-face {
  font-family: 'langdon';
  src: url('/fonts/Langdon.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileron-bold';
  src: url('/fonts/Aileron-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'aileron';
  src: url('/fonts/Aileron.otf');
  font-weight: normal;
  font-style: normal;
}

$headline: 'langdon', sans-serif;
$bodyTextBold: 'aileron-bold', sans-serif;
$bodyText: 'aileron', sans-serif;

/* Colors */
$lightyellow : #fceb88;
$mediumyellow: rgba(109, 103, 67, 1.0);
$darkyellow: #38341f;

/* Media Queries */
@media all and (max-width: 1600px) { /* screen size until 1200px */
  h1 {
    font-size: 8.5em; /* 1.5x default size */
  }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
  h1 {
    font-size: 5em; /* 1.2x default size */
  }
}
@media all and (max-width: 500px) { /* screen size until 500px */
  h1 {
    font-size: 3.2em; /* 0.8x default size */
  }
}

/* Styling */
body {
  background-color: $lightyellow;
  padding: 0;
  margin: 0;
  background-image: url('/images/face.png');
  background-repeat: no-repeat;
  background-position: -20% 400%;
  background-size: 69%;
  max-width: 100%;
}

.headline {
  font-family: $headline;
  color: $mediumyellow;
  border-bottom: none;
  padding-left: 3%;
}

.cta {
  padding-top: 30%;
  width: 50%;
  font-size: 4em;
  color: $darkyellow;
  font-family: $bodyTextBold;
}

.cta-btn {
  background: #57ade6;
  background-image: -webkit-linear-gradient(top, #57ade6, #4f8eb5);
  background-image: -moz-linear-gradient(top, #57ade6, #4f8eb5);
  background-image: -ms-linear-gradient(top, #57ade6, #4f8eb5);
  background-image: -o-linear-gradient(top, #57ade6, #4f8eb5);
  background-image: linear-gradient(to bottom, #57ade6, #4f8eb5);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: $bodyText;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.cta-btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
