<!DOCTYPE html>
<html>
  <head>
    <title>DonatableTweets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script>
      // use mustache-style temlpating
      _.templateSettings = {
        interpolate: /\{\{(.+?)\}\}/g
      };
    </script>
  </body>
</html>
